<div class="addlist_popup">
  <%= form_tag(controller: "listes" action: "add_word_from_list") do %>
    <%= select options_from_collection_for_select(@listes, "id", "name") %>
    <%= f.submit "Ajouter" %>
  <% end %>
  <%= form_tag(controller: "listes" action: "add_word_and_list") do %>
    <%= f.input :name %>
    <%= f.submit "Ajouter" %>
  <% end %>
</div>
