<div class="nested-fields">
  <div class="grouped">
    <%= f.label :exemple_cible %>
    <%= f.text_area :exemple_cb %>
  </div>
  <div class="grouped">
    <%= f.label :exemple_traduction %>
    <%= f.text_area :exemple_fr %>
  </div>
  <div class="iconsActions">
    <%= link_to_remove_association f do %>
      <i class="fas fa-minus-circle"></i>
    <% end %>
  </div>
</div>
