<div class="new-wrapper">
  <div class="word-show JSmedaddy">
    <h4>Japonais</h4>
    <h4>Coréen</h4>
    <h4>Chinois-s.</h4>
    <h4>Chinois-t.</h4>
  </div>
  <div class="blue-rectangle">
    <div class="nuancemot">
      <h4 class="blue">Ajouter un mot</h4>
      <h4 class="blue"><%= link_to "Ajouter une nuance", new_kor_nuance_path %></h4>
    </div>
    <hr class="hrthick">
    <div class="kor-form">
      <%= simple_form_for @new_word do |f| %>
        <%= f.input :word %>
        <div class="kor-nuances">
        <%= f.simple_fields_for :kor_nuances do |nuance| %>
          <%= render 'kor_nuance_fields', f: nuance %>
          <div class="iconsActions">
            <%= link_to_add_association f, :kor_nuances do%>
              <h5 class="addNuance">Ajouter une nuance</h5>
            <% end %>
          </div>
        <% end %>
        </div>
        </div>
        <%= f.submit "Confirmer", class: "submitkor" %>
      <% end %>
    </div>
  </div>
</div>
