<div class="show-wrapper">
  <%= render 'shared/searchbar' %>
  <div class="word-show rectangle">
    <h1><%= @word.word %></h1>
    <i class="fas fa-volume-up orange"></i>
  </div>
  <% @word.kor_nuances.each do |nuance| %>
    <div class="blue-rectangle nuance-box">
      <div class="align-center">
        <span style="display:flex;"class="bold">
          <h3 class="hanjas blue">
            <% hanj = nuance.hanjas %>
            <% unless hanj.first&.hanja == "" || hanj.first == nil %>
              [<% hanj.each do |hanja| %><%=hanja.hanja%><%= "," unless hanja == hanj.last %><% end %>]
            <% end %>
          </h3>
          <h3 class="blue">  <%= @word.word %></h3>
        </span>
        <% if nuance.image_url %>
          <i class="fas fa-image fa-2x nuance-image">
          </i>
        <% end %>
      </div>
      <span style ="display:flex; justify-content: space-between; width: 80%;">
        <h5 class="light blue"><%= "(#{nuance.nature_francais} | #{nuance.nature_cible})" %></h5>
      <span style="display:flex">
        <% kor_reg = nuance.kor_registres %>
        <% unless kor_reg.first&.registre == "" ||  %>
          <% kor_reg.each do |registre| %>
            <h5 class="light blue"><%= registre.registre %> </h5>
            <%= "," unless registre == kor_reg.last  %>
          <% end %>
        <% end %>
      </span>
      </span>
      <h3 class="mediumsized"><i class="fas fa-level-up-alt fa-rotate-90" style="position: static; margin-right: 20px;"></i><%= nuance.traduction %></h3>
      <% unless nuance.remarque == "" %>
        <hr>
        <h5 class="light blue"><%= nuance.remarque %></h5>
      <% end %>
      <% unless nuance.commentaire == "" %>
        <hr>
        <h5 class="light blue"><%= nuance.commentaire %>.</h5>
      <% end %>
      <hr>
      <div class="exemple-box">
        <% nuance.kor_exemples.each do |exemple| %>
          <div class="exempleCycle">
            <h5 class="mediumsized blue">
              <%= exemple.exemple_cible %>
            </h5>
            <h5 class="blue mediumsized">
               <%= exemple.exemple_traduction %>
            </h5>
          </div>
        <% end %>
        <h5 class="blue light seemore">Voir plus d'exemples</h5>
      </div>
      <% kor_syn = nuance.kor_synonymes %>
      <% kor_ant = nuance.kor_antonymes %>
      <% if kor_syn.first.synonyme != "" && kor_ant.first.antonyme != %>
        <hr class="hrthick">
        <% if kor_syn.first.synonyme != "" %>
          <div>
            <h4 class="mediumsized">Ces synonymes pourraient vous intéresser:</h4>
            <% kor_syn.each do |synonyme| %>
              <h5 class="blue light syno">
                <% if synonyme == kor_syn[-1] %>
                  <%= "#{synonyme.synonyme}"%>
                <% else %>
                  <%= "#{synonyme.synonyme},"%>
                <% end %>
              </h5>
            <% end %>
          </div>
        <% end %>
        <hr>
        <% if kor_ant.first.synonyme != "" %>
          <div>
            <h4 class="mediumsized">Ces antonymes pourraient vous intéresser:</h4>
            <% kor_ant.each do |antonyme| %>
              <h5 class="light blue anto">
                <% if antonyme == kor_ant[-1] %>
                  <%= "#{antonyme.antonyme}"%>
                <% else %>
                  <%= "#{antonyme.antonyme},"%>
                <% end %>
              </h5>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <div class="suggestions">
     <h3>Suggerer un mot | faire part d'une erreur</h3>
  </div>
</div>
