<div class="new-wrapper">
  <div class="word-show JSmedaddy">
    <h4>Japonais</h4>
    <h4>Coréen</h4>
    <h4>Chinois-s.</h4>
    <h4>Chinois-t.</h4>
  </div>
  <div class="blue-rectangle">
    <div class="nuancemot">
      <h4 class="blue"><%= link_to "Ajouter un mot", new_kor_word_path %></h4>
      <h4 class="blue"><%= link_to "Ajouter une nuance", new_kor_nuance_path %></h4>
    </div>
    <hr class="hrthick">
    <%= simple_form_for @kor_nuance do |f| %>
      <%= f.input :kor_word_id, collection: @kor_words, class: "my-select" %>
      <%= render 'kor_words/kor_nuance_fields', f: f%>
      <%= f.submit %>
    <% end %>
  </div>
</div>
