<div class="new-wrapper">
  <%= render 'shared/contrib_header_pick_language' %>
  <div class="blue-rectangle">
    <%= render 'kor_words/edit_kor_navbar' %>
    <hr class="hrthick addNuance">
    <%= simple_form_for @kor_nuance do |f| %>
      <%= f.input :kor_word_id, collection: @kor_words, class: "my-select" %>
      <%= render 'kor_words/kor_nuance_fields', f: f%>
      <%= f.submit %>
    <% end %>
  </div>
</div>
