<div class="wrapper-blue wrapper-index">
  <h2 class="white light">Bienvenue sur le dictionnaire <span class="orange bold"><%= @dict.lang %>-français</span></h2>
  <h2 class="white light"><%= @dict.welcome.html_safe %></h2>
</div>
<%= render 'shared/searchbar' %>
<div class="white-flex-wrapper">
  <div class="blue-rectangle">
    <h3>Mot aléatoire</h3>
    <hr class= "hrthick">
    <% if @mot_aleatoire %>
      <h3><%= link_to @mot_aleatoire.word, dict_word_path(dict_id: @dict.lang, id:@mot_aleatoire.word) %></h3>
    <% end %>
  </div>
  <div class="blue-rectangle">
    <h3>Recherches fréquentes</h3>
    <hr class= "hrthick">
    <% if @frequents %>
      <% @frequents.each do |freq_word| %>
        <h3><%= link_to freq_word.word,  dict_word_path(dict_id: @dict.lang, id: freq_word.word) %></h3>
        <% unless freq_word == @frequents.last %>
          <hr>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
