<div class="align-center">
  <span style="display:flex;"class="bold">
    <% hanj = nuance.specials %>
    <% if hanj.length > 0 %>
      <h3 class="hanjas blue" style="padding-right: 15px;">
        <% unless hanj.first&.char == "" || hanj.first == nil %>
          [<% hanj.each do |hanja| %><%=hanja.char%><%= "," unless hanja == hanj.last %><% end %>]
        <% end %>
      </h3>
    <% end %>
    <h3 class="blue"><%= @word.word %></h3>
  </span>
</div>
<span style ="display:flex; justify-content: space-between; width: 80%;">
  <h5 class="light blue"><%= "(#{nuance.nature_fr} | #{nuance.nature_cb})" %></h5>
<span style="display:flex">
  <% registres = nuance.registres %>
  <% unless registres.first&.reg == "" || registres.first == nil %>
    <% registres.each do |registre| %>
      <h5 class="light blue"><%= registre.reg %> </h5>
      <%= "<span style='padding-right: 10px;'>,</span>".html_safe unless registre == registres.last  %>
    <% end %>
  <% end %>
</span>
</span>
<span style="display:flex">
  <i class="fas fa-level-up-alt fa-rotate-90" style=" margin-right: 20px;"></i>
  <% trads = nuance.traductions %>
  <% unless trads.first&.trad == "" || trads.first == nil %>
    <% trads.each do |traduction| %>
      <h3 class="light blue">
        <%= traduction.trad %><%= "<span style='padding-right: 10px;'>,</span>".html_safe unless traduction == trads.last  %>
      </h3>
    <% end %>
  <% end %>
</span>
<% unless nuance.remarque == "" %>
  <h5 class="light blue">(<%= nuance.remarque %>)</h5>
<% end %>
<% unless nuance.commentaire == "" %>
  <hr>
  <h5 class="light blue"><%= nuance.commentaire %>.</h5>
<% end %>
<hr>
<div class="exemple-box">
  <% ex = nuance.exemples %>
  <% ex.each do |exemple| %>
    <div class="exempleCycle">
      <h5 class="mediumsized blue">
        <%= exemple.exemple_cb %>
      </h5>
      <h5 class="blue mediumsized">
         <%= exemple.exemple_fr %>
      </h5>
    </div>
  <% end %>
  <h5 class="blue light seemore">Voir plus</h5>
</div>
<% syn = nuance.synonymes %>
<% ant = nuance.antonymes %>
<% check_syn =  syn.first&.syno != "" && syn.first != nil  %>
<% check_ant =  ant.first&.anto != "" && ant.first != nil %>
<% if check_syn || check_ant %>
  <hr class="hrthick">
  <% if check_syn %>
    <div>
      <h5 class="mediumsized blue">Ces synonymes pourraient vous intéresser:</h5>
      <% syn.each do |synonyme| %>
        <h5 class="blue light syno">
          <% if synonyme == syn[-1] %>
            <%= "#{synonyme.syno}"%>
          <% else %>
            <%= "#{synonyme.syno},"%>
          <% end %>
        </h5>
      <% end %>
    </div>
  <% end %>
  <% if check_ant %>
    <hr>
    <div>
      <h5 class="mediumsized blue">Ces antonymes pourraient vous intéresser:</h5>
      <% ant.each do |antonyme| %>
        <h5 class="light blue anto">
          <% if antonyme == ant[-1] %>
            <%= "#{antonyme.anto}"%>
          <% else %>
            <%= "#{antonyme.anto},"%>
          <% end %>
        </h5>
      <% end %>
    </div>
  <% end %>
<% end %>
