<div class="align-center">
  <% if nuance.word.dictionary.lang == "japonais" %>
    <p class="addFurigana" style="height: 0px; position: absolute"></p>
  <% end %>
  <span style="display:flex; align-items: baseline;"class="bold">
    <% specials = nuance.specials %>
    <% if specials.length > 0 %>
      <h3 class="specials blue" style="padding-right: 15px;">
        <% unless specials.first&.char == "" || specials.first == nil %>
          [<% specials.each do |special| %><%=special.char%><%= "," unless special == specials.last %><% end %>]
        <% end %>
      </h3>
    <% end %>
    <% @word = Word.find(nuance.word_id) %>
    <h3 class="blue word_in_nuance"><%= @word.word %></h3>
    <span style ="display:flex; justify-content: space-between; margin-left:15px;">
      <h5 class="light blue"><%= "(#{nuance.nature_fr} | #{nuance.nature_cb})" %></h5>
      <span style="display:flex; margin-left: 15px">
        <% registres = nuance.registres %>
        <% unless registres.first&.reg == "" || registres.first == nil %>

        <h5 class="light blue">(
          <% registres.each do |registre| %>
            <%= registre.reg %>
            <%= "<span style='padding-right: 1px;'>,</span>".html_safe unless registre == registres.last  %>
          <% end %>
          )</h5>
        <% end %>
      </span>
    </span>
  </span>
</div>
<span style="display:flex; align-items: center;">
  <i class="fas fa-level-up-alt fa-rotate-90 orange" style=" margin-right: 10px; margin-bottom: 5px; margin-left: 5px; font-size: 20px;"></i>
  <% trads = nuance.traductions %>
  <% unless trads.first&.trad == "" || trads.first == nil %>
    <% trads.each do |traduction| %>
      <h3 class="orange light">
        <%= traduction.trad %><%= "<span style='padding-right: 10px;'>,</span>".html_safe unless traduction == trads.last  %>
      </h3>
    <% end %>
  <% end %>
</span>
<% unless nuance.remarque == "" %>
  <h5 class="light blue">(<%= nuance.remarque %>)</h5>
<% end %>
<% unless nuance.commentaire == "" %>
  <hr>
  <h5 class="light blue"><%= nuance.commentaire %>.</h5>
<% end %>
<hr>
<div class="exemple-box">
  <% ex = nuance.exemples %>
  <% ex.each do |exemple| %>
    <div class="exempleCycle">
      <h5 class="mediumsized blue">
        <%= exemple.exemple_cb %>
      </h5>
      <h5 class="blue mediumsized">
         <%= exemple.exemple_fr %>
      </h5>
    </div>
  <% end %>
  <h5 class="blue light seemore">Voir plus</h5>
</div>
<% syn = nuance.synonymes %>
<% ant = nuance.antonymes %>
<% check_syn =  syn.first&.syno != "" && syn.first != nil  %>
<% check_ant =  ant.first&.anto != "" && ant.first != nil %>
<% if check_syn || check_ant %>
  <hr class="hrthick">
  <% if check_syn %>
    <div class="flex-wraps">
      <h5 class="mediumsized blue">Synonymes:</h5>
      <% syn.each do |synonyme| %>
        <h5 class="blue light syno">
          <% if synonyme == syn[-1] %>
            <%= "#{synonyme.syno}"%>
          <% else %>
            <%= "#{synonyme.syno},"%>
          <% end %>
        </h5>
      <% end %>
    </div>
  <% end %>
  <% if check_ant %>
    <hr>
    <div class="flex-wraps">
      <h5 class="mediumsized blue">Antonymes:</h5>
      <% ant.each do |antonyme| %>
        <h5 class="light blue anto">
          <% if antonyme == ant[-1] %>
            <%= "#{antonyme.anto}"%>
          <% else %>
            <%= "#{antonyme.anto},"%>
          <% end %>
        </h5>
      <% end %>
    </div>
  <% end %>
<% end %>
