<p class="natureSelect"></p>
<% if @dict.lang == "coréen" %>
  <div class="flex-around">
    <%= f.input :nature_fr, collection: ["Nom commun", "Verbe transitif", "Verbe intransitif", "Nom propre", "Préposition", "Suffixe", "Adjectif", "Pronom", "Conjonction", "Particule" ], label: "Nature Francais"%>
    <%= f.input :nature_cb, collection: ["명사", "타동사", "자동사", "고유명사", "전치사", "접미사", "형용사", "대명사", "접속사", "조사" ], input_html: {readonly: :true}, label: "Nature cible" %>
  </div>
<% elsif @dict.lang == "japonais" %>
  <div class="flex-around">
      <%= f.input :nature_fr, collection: ["Nom commun", "Verbe transitif", "Verbe intransitif", "Nom propre", "Préposition", "Suffixe", "Adjectif", "Pronom", "Conjonction", "Nom verbal", "Particule", "Compteur" ], label: "Nature Francais" %>
    <%= f.input :nature_cb, collection: ["名詞", "他動詞", "自動詞", "固有名詞", "前置詞", "接尾辞", "形容詞", "代名詞", "接続詞", "する名詞", "助詞", "助数詞"], input_html: {readonly: :true}, label: "Nature cible" %>
  </div>
<% elsif @dict.lang == "chinois-traditionnel" %>
  <div class="flex-around">
      <%= f.input :nature_fr, collection: ["Nom commun", "Verbe transitif", "Verbe intransitif", "Nom propre", "Préposition", "Suffixe", "Adjectif", "Pronom", "Conjonction", "Particule" ], label: "Nature Francais" %>
      <%= f.input :nature_cb, collection: ["명사", "타동사", "자동사", "고유명사", "전치사", "접미사", "형용사", "대명사", "접속사", "조사" ], input_html: {readonly: :true}, label: "Nature cible" %>
  </div>
<% else %>
  <div class="flex-around">
      <%= f.input :nature_fr, collection: ["Nom commun", "Verbe transitif", "Verbe intransitif", "Nom propre", "Préposition", "Suffixe", "Adjectif", "Pronom", "Conjonction", "Particule" ], label: "Nature Francais" %>
      <%= f.input :nature_cb, collection: ["명사", "타동사", "자동사", "고유명사", "전치사", "접미사", "형용사", "대명사", "접속사", "조사" ], input_html: {readonly: :true} %>
  </div>
<% end %>
