<div class="nested-fields">
  <%= f.input :id, as: :hidden %>
  <div class="grouped">
    <%= f.label :exemple_cible %>
    <%= f.text_area :exemple_cb %>
  </div>
  <div class="grouped">
    <%= f.label :exemple_français %>
    <%= f.text_area :exemple_fr , html_options: {spellcheck: "true"} %>
  </div>
  <%= f.input :order, label: false%>
  <div class="iconsActions">
    <%= link_to_remove_association f do %>
      <i class="fas fa-minus-circle"></i>
    <% end %>
  </div>
</div>
