<div class="nested-fields">
  <hr class="hrthick">
  <div class="nuance-header-form">
    <h5>Nuance</h5>
    <div class="iconsActions">
      <%= link_to_remove_association f, data: {confirm: 'Etes vous sure?'} do %>
        <h5>Supprimer nuance</h5>
      <% end %>
    </div>
  </div>
  <% if @dict.lang == "coréen" %>
    <h6>Hanja</h6>
  <% elsif @dict.lang == "japonais" %>
    <h6>Furigana</h6>
  <% else %>
    <h6>Pinyin</h6>
  <% end %>

  <div class="hanja-form">
    <%= f.simple_fields_for :specials do |hanja| %>
      <%= render 'special_fields', f: hanja %>
    <% end %>
    <div class="iconsActions">
      <%= link_to_add_association f, :specials, partial: "special_fields"  do %>
        <i class="fas fa-plus-circle fa-2x clickMe"></i>
      <% end %>
    </div>
  </div>
  <hr>
  <h6>Traductions</h6>
  <div class="hanja-form">
    <%= f.simple_fields_for :traductions do |tradu| %>
      <%= render 'word/traduction_fields', f: tradu %>
    <% end %>
    <div class="iconsActions">
      <%= link_to_add_association f, :traductions, partial: "word/traduction_fields"  do %>
        <i class="fas fa-plus-circle fa-2x clickMe"></i>
      <% end %>
    </div>
  </div>
  <hr>
  <%= render 'shared/select_nature', f: f %>
  <hr>
  <h6>Registres</h6>
  <div class="exemple-form">
    <%= f.simple_fields_for :registres do |registre| %>
      <%= render 'registre_fields', f: registre %>
    <% end %>
    <div class="iconsActions">
      <%= link_to_add_association f, :registres, partial: "registre_fields" do%>
        <i class="fas fa-plus-circle fa-2x clickMe"></i>
      <% end %>
    </div>
  </div>
  <hr>
  <%= f.input :user_id, as: :hidden, input_html: { :value => current_user.id } %>
  <%= f.input :remarque %>
  <hr>
  <div class="exemple-form">
    <%= f.simple_fields_for :exemples do |exemple| %>
      <%= render 'exemple_fields', f: exemple %>
    <% end %>
    <div class="iconsActions">
      <%= link_to_add_association f, :exemples, partial: "exemple_fields"  do%>
        <i class="fas fa-plus-circle fa-2x clickMe"></i>
      <% end %>
    </div>
  </div>
  <hr>
  <%= f.input :commentaire %>
  <hr>
  <h6>Synonymes</h6>
    <div class="exemple-form">
    <%= f.simple_fields_for :synonymes do |synonyme| %>
      <%= render 'synonyme_fields', f: synonyme %>
    <% end %>
    <div class="iconsActions">
      <%= link_to_add_association f, :synonymes, partial: "synonyme_fields"  do%>
        <i class="fas fa-plus-circle fa-2x clickMe"></i>
      <% end %>
    </div>
  </div>
  <hr>
  <h6>Antonymes</h6>
<div class="exemple-form">
    <%= f.simple_fields_for :antonymes do |antonyme| %>
      <%= render 'antonyme_fields', f: antonyme %>
    <% end %>
    <div class="iconsActions">
      <%= link_to_add_association f, :antonymes, partial: "antonyme_fields"  do%>
        <i class="fas fa-plus-circle fa-2x clickMe"></i>
      <% end %>
    </div>
  </div>
  <hr>
</div>


