<div class="new-wrapper">
  <%= render 'shared/contrib_header_pick_language' %>
  <div class="blue-rectangle">
    <%= render 'shared/edit_navbar' %>
    <%= render 'shared/select_word', words: @words %>
    <%= simple_form_for @word, url: dict_word_path(@dict, @word),
                               method: "patch" do |f| %>
      <%= f.input :word, label: "Mot" %>
      <%= link_to 'Supprimer le mot', dict_word_path(@dict.lang, @word), method: :delete, data: {confirm: "Etes vous sure de vouloir supprimer #{@word.word}?"} %>
      <%= f.simple_fields_for :nuances do |nuance| %>
          <%= nuance.input :id, as: :hidden %>
          <%= render 'nuance_fields', f: nuance %>
        <% end %>
        <div class="iconsActions">
          <%= link_to_add_association f, :nuances do%>
            <h5 class="addNuance">Ajouter une nuance</h5>
          <% end %>
        </div>
      <%= f.submit "Confirmer", class: "submitkor" %>
    <% end %>
  </div>
</div>
