<div class="show-wrapper">
  <%= render 'shared/searchbar' %>
  <div class="word-show rectangle">
    <div class="middle-header">
      <h1><%= @word.word %></h1>
      <% if @dict.lang == "chinois traditionnel" %>
        <%= link_to "Vers chinois simplifié", dict_search_path("chinois simplifié", search_word: @word.nuances.first.traductions.first.trad), style:"color:white", method: "post" %>
      <% elsif @dict.lang == "chinois simplifié"%>
          <%= link_to "Vers chinois traditionnel", dict_search_path("chinois traditionnel", search_word: @word.nuances.first.traductions.first.trad), style:"color:white", method: "post" %>
      <% end %>
    </div>
    <i class="fas fa-volume-up orange"></i>
  </div>
  <div class="nuances-wrapper">
    <% @word.nuances.each do |nuance| %>
      <div class="blue-rectangle nuance-box">
        <%= render 'shared/nuance_show', nuance: nuance %>
        <% if user_signed_in? %>
          <%= render partial: 'shared/add_to_list_popup', locals: {listes: @listes, nuance: nuance} %>
          <i class="fas fa-bookmark fa-2x showListes"></i>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="suggestions">
     <h3>Suggérer un mot | Faire part d'une erreur</h3>
  </div>
</div>

