<div class="new-wrapper">
  <%= render 'shared/contrib_header_pick_language' %>
  <div class="blue-rectangle">
    <%= render 'edit_kor_navbar' %>
    <hr class="hrthick">
    <div class="kor-form">
      <%= simple_form_for @new_word, url: kor_words_path,
                                     method: "post" do |f| %>
        <%= f.input :word %>
        <div class="kor-nuances">
        <%= f.simple_fields_for :nuances do |nuance| %>
          <%= render 'nuance_fields', f: nuance %>
          <div class="iconsActions">
            <%= link_to_add_association f, :nuances do%>
              <h5 class="addNuance">Ajouter une nuance</h5>
            <% end %>
          </div>
        <% end %>
        </div>
        </div>
        <%= f.submit "Confirmer", class: "submitkor" %>
      <% end %>
    </div>
  </div>
</div>
