<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,800|Roboto:400,700" rel="stylesheet">
    <meta property="og:title" content="NicoDico" />
    <meta property="og:url" content="https://www.nicodico.net" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Un dictionnaire forgé avec passion !" />
    <meta property="og:image" content="https://res.cloudinary.com/dwg18rj8x/image/upload/v1566983620/Screenshot_2019-08-28_at_11.13.20.png" />
    <title>NicoDico</title>

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= favicon_link_tag asset_path('icon.png') %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
